/* Intro button*/

 .markdown-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #e7e7e7; 
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
    }

 .markdown-button:hover {
        background-color: #e7e7e7;
        border: 2px solid black;
        color: black;
 }

